body {
    background-color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    
    
h1 {
    color: lightblue;
    text-align: center;
    font-size: 80px;
    
}

h2{
    color: lightblue;
    text-align: left;
    font-size: 20px;
}

h3{
    color: lightblue;
    text-align: center;
    font-size: 10px;
}

p{
     color: lightblue;
    
}


