body {
    background-color: black;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    
    
h1 {
    color:white;
    text-align: center;
}

h2{
  
}

h3{
    color:white;
}

p{
    color: white;
}



